html , body{
	margin: 0;
	padding: 0;
	height: 100%;
}
#wrapper {
	min-height:100vh;
	position:relative;
}
#content {
	padding-bottom: 10vh;
	min-height: 30rem;
	height: 100vh;
	box-sizing: border-box;
}
.footer {
	background:#000;
	width:100vw;
	height: 2.5rem;
	position:absolute;
	bottom:0;
	left:0;
	color: white;
	font-size: 1.5rem;
}
.center {
	text-align:center;
}
.input{
	position: relative;
	width: 25vw;
	min-width: 21rem;
	min-height: 3rem;
	height: 2.3rem;
	margin: .7rem auto;
	font-size: 1.5rem;
}
.input input[type="text"]{
	position:relative;
	height : 100%;
	width: 100%;
	border-style: solid;
	border-width: .1rem;
	border-radius: .3rem;
	box-shadow: 0 .1rem .3rem 0;
	border-color: burlywood;

	font-size: 1.5rem;
}
.input input[type="checkbox"]{
	width: 1.2rem;
	height:1.2rem;
}
button{
	margin: 0 0 0 .2rem;
	float:right;
	width:40%;
	height:100%;
	background-color: bisque;
	border-radius: .7rem;
	
	
}
#bottons{
	position:relative;
	margin: 0 auto;
	text-align: center;
	width:25vw;
	height: 2.5rem;
	
}
#advancedOptions{
	height: initial;
	border: rgb(84, 157, 163);
	border-width: .2rem;
	border-style: double;
	border-radius: .5rem;
	box-sizing: border-box;
	font-size: 1.2rem;

}


a {
	color: inherit;
	text-decoration: inherit;
}
h1 {
	margin-top :0;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.clearfix{
	clear: both;
}
.inline-img{
	height: 1.4rem;
	width: 1.4rem;
}
